// Waveforme .babel.rc
// Copyright (C) 2023 Reese Norris - All Rights Reserved

{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ]
}